@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';

body {
  color: #4F4F4F;

  &.home {
    background-color: #f2f2f2;
  }
}

a {
  color: #2F80ED;
  text-decoration: underline;
}

hr {
  border-top: 3px solid #F2F2F2;
}

button {
  &.filled {
    @apply bg-primary h-12 hover:bg-teal-400 text-white font-bold py-2 px-4 rounded focus:outline-none;
  }

  &.outlined {
    @apply border-2 border-primary text-primary h-16 bg-white hover:bg-gray-200 text-white font-bold px-6 rounded focus:outline-none;
  }
}

/* style the biblegateway passages */
.passage-content, .rp-passage-text {
  .full-chap-link {
    @apply hidden;
  }
  p {
    @apply mb-6;
  }
  .chapternum {
    @apply text-2xl font-semibold;
  }
  .versenum {
    @apply font-medium;
  }

  .poetry {
    @apply pl-16 mb-6;
    .chapternum {
      @apply -ml-16 pr-5;
    }
    .versenum {
      @apply -ml-16;
      padding-right: 2.9rem;
    }
  }

  h4 {
    @apply font-semibold my-2;
  }

  .woj {
    @apply text-red-500;
  }

  .bibleref {
    @apply no-underline cursor-default pointer-events-none ml-1;
  }

  .footnotes {
    h4 {
      @apply font-semibold;
    }
    @apply mt-4;
    ol {
      @apply ml-5;
      li {
        list-style-type: lower-alpha;
      }
    }
  }
}


.flash {
  .notice {
    @apply px-4 py-3 font-medium bg-yellow-100 rounded border border-yellow-400 flex;
  }
  .alert {
    @apply px-4 py-3 font-medium bg-red-100 rounded border border-red-200 flex;
  }
  // check icons - used in flash messages
  .check {
    .icon {
      @apply w-1/12 text-right pr-1;
      i {
        @extend %fa-icon;
        @extend .fas;
        @apply text-green-500;
        &:before {
          content: fa-content($fa-var-check);
        }
      }
    }
  }
  // info circle icon - used in flash messages
  .info-circle {
    .icon {
      @apply w-1/12 text-right pr-1 text-orange-500;
      i {
        @extend %fa-icon;
        @extend .fa;
        &:before {
          content: fa-content($fa-var-exclamation-circle);
        }
      }
    }
  }
}
