@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  color: #4F4F4F;

  &.home {
    background-color: #f2f2f2;
  }
}

a {
  color: #2F80ED;
  text-decoration: underline;
}
