@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  color: #4F4F4F;

  &.home {
    background-color: #f2f2f2;
  }
}

a {
  color: #2F80ED;
  text-decoration: underline;
}

hr {
  border-top: 3px solid #F2F2F2;
}

/* style the biblegateway passages */
.passage-content {
  .full-chap-link {
    @apply hidden;
  }
  p {
    @apply mb-6;
  }
  .chapternum {
    @apply text-2xl font-semibold;
  }
  .versenum {
    @apply font-medium;
  }

  .poetry {
    @apply pl-16 mb-6;
    .chapternum {
      @apply -ml-16 pr-5;
    }
    .versenum {
      @apply -ml-16;
      padding-right: 2.9rem;
    }
  }

  h4 {
    @apply font-semibold my-2;
  }

  .woj {
    @apply text-red-500;
  }

  .bibleref {
    @apply no-underline cursor-default pointer-events-none ml-1;
  }

  .footnotes {
    h4 {
      @apply font-semibold;
    }
    @apply mt-4;
    ol {
      @apply ml-5;
      li {
        list-style-type: lower-alpha;
      }
    }
  }
}
